body {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    background-color: blanchedalmond;
    gap: 20px;
}

img {
    width: 200px;
    height: auto;
}

.gif {
    display: flex;
    justify-content: center;
}

.pics {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
}